html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 5px;
  padding: 5px;
  font-size: 100%;
  font: small-caps;
  color: #000;
  align-content: center;
  text-align: center;
  background-color: lavender;}

nav{
    color: black;
    background-color: gray;}

h1 {font-size: 36px;
    color: indigo;
  text-align: right;}

h2 {font-size: 24px;
    color: indigo;}

div {
    align-content: center;
    width: fit-content;
    height: fit-content;}

img {padding: 5px;}

a {width: fit-content;
  height: fit-content;}

menu {
    width: 50%;
    float: center;
  }
main {
    width: 50%;
    float: center;
  }